.section-category-content {
  h3 {
    font-family: "Balsamiq Sans";
    font-weight: bold;
    font-size: 38px;
    color: #000;

    span {
      font-family: "Balsamiq Sans";
      font-weight: bold;
      font-size: 38px;
      color: #ffab00;
    }
  }

  i {
    width: 15px;
  }

  margin-top: 100px;

  .nav {
    .nav-item {
      .active {
        border-bottom: 5px #ffab00 solid !important;
      }
    }
  }

  button {
    background-color: #fff !important;
    color: #000 !important;
  }
}

.section-juices-category {
  a {
    font-size: 18px;
    text-decoration: none;
    background: #ffab00;
    color: #fff;

    &:hover {
      background: #ffba30;
      color: #fff;
    }
  }

  .figure {
    margin-left: -3px;
    margin-top: 20px;
    position: relative;

    .category-img a {
      position: absolute;
      top: 0;
      left: 0px;
      right: 0px;
      bottom: 99px;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.5s;
      border-radius: 8px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
