.section-header-content {
  h1 {
    margin-top: 120px;
    font-family: "Balsamiq Sans";
    font-weight: bold;
    font-size: 48px;

    span {
      color: #ffab00;
    }
  }

  p {
    color: #bebebe;
    font-weight: 400;
    font-size: 18px;
  }
  .brand-hero {
    margin-top: 20px;
    img {
      max-height: 450px;
    }
  }

  .btn-get-now {
    margin-top: 30px;
    background-color: #ffab00;
    color: #fff;
    width: 170px;
  }
}
