.section-special-content {
  margin-top: 120px;
  h3 {
    font-family: "Balsamiq Sans";
    font-weight: 600;
    font-size: 42px;

    span {
      color: #ffab00;
    }
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
  }
  .price {
    color: #ffab00;
    font-weight: 500;
  }

  .figure {
    margin-bottom: -1px;
    position: relative;

    .img-category a {
      position: absolute;
      top: 0;
      left: 0px;
      right: 0px;
      bottom: 8px;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.5s;
      border-radius: 8px;

      &:hover {
        opacity: 1;
      }
    }
  }
  a {
    font-size: 18px;
    text-decoration: none;
    background: #ffab00;
    color: #fff;

    &:hover {
      background: #ffba30;
      color: #fff;
    }
  }
}
