.navbar {
  .navbar-brand {
    img {
      max-height: 50px !important;
    }
  }

  .navbar-nav {
    font-size: 18px;

    .nav-link.active {
      color: #ffab00;
      font-weight: 600;
    }

    .nav-link {
      color: #212529;
      font-weight: 400;

      &:hover {
        color: #ffab00;
      }
    }
  }
  .form-inline {
    a {
      color: #212529;
      font-weight: 400;
      font-size: 18px;

      &:hover {
        color: #ffab00;
      }
    }
    .btn-daftar {
      width: 120px;
      background-color: #ffab00;
      color: #fff;
    }
  }
}
