@import "global";
@import "fonts";
@import "navbar";
@import "footer";

@import "pages/auth";
@import "pages/hero";
@import "pages/about";
@import "pages/special";
@import "pages/category";
@import "pages/customer-reviews";

.section-chef-content {
  margin-top: 100px;

  h3 {
    font-family: "Balsamiq Sans";
    font-weight: bold;
    font-size: 38px;
    color: #000;

    span {
      font-family: "Balsamiq Sans";
      font-weight: bold;
      font-size: 38px;
      color: #ffab00;
    }
  }

  figure {
    position: relative;

    .chef-img .icon-verify {
      position: absolute;
      top: 0;
      left: auto;
      right: 25px;
      bottom: 0;
    }
  }
}

// End Chef

// Details
.section-content-breadcrumb {
  margin-top: 50px;
  .breadcrumb {
    .breadcrumb-item {
      font-size: 16px;
      font-weight: 400;
      a {
        text-decoration: none;
        color: #ffab00;
      }
    }
  }
}

.section-single-product {
  .product-name {
    h5 {
      font-family: "Balsamiq Sans";
      font-size: 32px;
      font-weight: bold;
    }
  }
  .price {
    p {
      font-size: 20px;
      font-weight: 500 !important;
    }
  }
  .seller {
    img {
      max-height: 60px;
    }
  }
  .thumbnail-image {
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    &:hover,
    &.active {
      border: 3px solid #ffab00;
    }
  }
  .btn-cart {
    background-color: #a2a2a2;
    font-weight: 500;

    &:hover {
      background-color: #969595;
    }
  }
  .btn-checkout {
    background-color: #ffab00;
    color: #fff;
    font-weight: 500;

    &:hover {
      background-color: #e29701;
    }
  }
}

.section-reviews-detail {
  margin-top: 70px;
  h3 {
    font-family: "Balsamiq Sans";
    font-weight: bold;
    font-size: 32px;
    color: #000;
  }
  img {
    max-height: 60px;
  }
  h5 {
    font-weight: bold;
    font-size: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: #282c30;
  }
}
// End Details
